SUPABASE_URL=https://emdfaajydsodvsyzbhok.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtZGZhYWp5ZHNvZHZzeXpiaG9rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ4MDEyOCwiZXhwIjoyMDg5MDU2MTI4fQ.B3EuZF7qz2UsniN9V5C3jc356Y09V9zqgu43kTaZliI
